html, body, .ng-scope{
  margin: 0;
  padding:0;
  min-height:100%;
  background-color: white;
}

.project_scheduler {
  color: #fff;
  background: #111D3E;
  width: auto;
  border: 5px solid white;
  padding: 5px 8px;
  font-size: 16px;
  margin: 20px auto;
  cursor: pointer;
  transition: all ease .5s;
  border-radius: 6px;
}

.project_button{
  color: #fff;
  background: #111D3E;
  width: auto;
  border: 5px solid white;
  padding: 5px 8px;
  font-size: 16px;
  margin: 20px auto;
  cursor: pointer;
  transition: all ease .5s;
  border-radius: 6px;
}

.logo-box{
  padding-top: 60px;
  /*margin-top: 20px;*/
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
}

.hangman {
padding-left: 50px;

}

#logo3 .github{
  height: 135px;
}

#logo1 .email {
  height: 135px;
}

#logo2 .linkedin{
  width: 150px;
  height: 135px;
}

.linkedin {
  width:150px;height:150px;
  width: 95px;
  /*height: 70px;*/
}

.github {
width:150px;
height:150px;
}

.email{
  width:150px;
  height:150px;
}

.resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

.resume_styling{
  width: 850px;
  height: 800px;
}

.introduction {
  display: flex;
  flex-wrap: wrap;
  padding-right: 300px;
  font-size: 17px;
  padding-top: 100px;
  flex-grow: 30px;
}

.container {
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  justify-content: center;
}

.welcome_container {
  flex-basis: auto;
  margin: auto;
 padding-right: 550px;
}

.project_container {
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  height: 190px;
}

.project1{
  margin: 0 auto;
}

.project1 .thumbnail{
  width: 300px;
  height: 200px;
}

#proj1{
margin-bottom: 20px;
width: 300px;
box-shadow: 10px 10px 5px black;


}
#proj2{
margin-bottom: 20px;
box-shadow: 10px 10px 5px black;
width: 300px;


}
#proj3{
margin-bottom: 40px;
width: 300px;
box-shadow: 10px 10px 5px black;
}

.flex-container {
  font-size: 10px;
  width: 100%
  padding 0 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /*justify-content: space-between;*/
}

button:hover{
  color: white;
  background: #E6E6DC;
  transition: all ease .5s;

}

button {
  color: #fff;
  background: #111D3E;
  width: auto;
  border: 5px solid white;
  padding: 5px 8px;
  font-size: 16px;
  margin: 20px auto;
  cursor: pointer;
  transition: all ease .5s;
  border-radius: 6px;
}

.icon-angular {
  display: flex;
  flex-direction: wrap;
  color: red;
  box-shadow: 10px 10px 5px black;
}

.icon-ruby-on-rails-alt{
  display: flex;
  flex-direction: wrap;
  color: red;
  box-shadow: 10px 10px 5px black;
}

.icon-html5 {
  display: flex;
  flex-direction: wrap;
  color: orange;
  box-shadow: 10px 10px 5px black;
}

.icon-ruby {
  display: flex;
  flex-direction: wrap;
  color: red;
  box-shadow: 10px 10px 5px black;
}

.icon-css3 {
  display: flex;
  flex-direction: wrap;
  color: red;
  box-shadow: 10px 10px 5px black;
}

.icon-jquery {
  display: flex;
  flex-direction: wrap;
  color: darkblue;
  box-shadow: 10px 10px 5px black;
}

.icon-postgres {
  display: flex;
  flex-direction: wrap;
  color: royalblue;
  box-shadow: 10px 10px 5px black;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*padding-top: 50px;*/
  /*position:absolute;*/
  bottom:10px;
  margin-left: -10px
  /*height:20px;*/
  /*position: fixed;*/
  color: darkblue;
  color: white;
  text-align: center;
  padding-top: 180px;
  /*padding-left: 50px;*/
}

.index_page{
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  /*padding-top: 50px;*/
 justify-content: center;
justify-content: space-around;
background-color: #008dc9;

}

a {
  color: white;
}

body {
/*padding: 0; margin: 0;*/
font-size: 1.2em;
line-height: 1.7;
/*background: black;*/
font-family: 'Julius Sans One', sans-serif;
color: black;

}

h1, h2 {
  font-weight: normal;
  text-align: center;
}

h1 {
  color: black;
  font-family: 'Marcellus SC', serif;
}

h2 {
  color: black;
  font-family: 'Russo One', sans-serif;
  text-decoration: underline;
}


.logo{
  display: flex;
  justify-content: center;
  background-color: #008dc9;
}
#travis{
  width: 100px;
  height: 100px
}
.sky_picture{
background-image: url("img/sky.jpg");
border: 0px solid #000;
border-radius: 5px;
height: 380px;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
box-shadow: 0px 0px 5px gray;
margin-bottom: 20px;
transition: all .2s ease;

}
.sky_slogan{
  color: white;
  font-family: 'Chicle', cursive;
  text-decoration: none;
  font-size: 40px;
}
.project_page{
  background-image: url("img/project.jpg");
  border: 0px solid #000;
  border-radius: 5px;
  height: 380px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;
   opacity: 0.7;
}
.project_slogan{
  color: white;
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-left: 50px;
  font-family: 'Chicle', cursive;
  text-decoration: none;
  font-size: 60px;
}
.skills_section{
  background-color: #B0AFAD;
  border: 0px solid #000;
  border-radius: 5px;
  height: 325px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;
  text-align: center;
  /*padding-top: 100px;*/
  /*padding-left: 50px;*/

}
.skills_slogan{
  color: white;
  /*font-family: 'Chicle', cursive;
  text-decoration: none;*/
  /*font-size: 20px;*/

}
.about_me{
  background-image: url("img/wilderness.jpg");
  border: 0px solid #000;
  border-radius: 5px;
  height: 380px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;

}
.about_slogan{
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-left: 50px;
  font-family: 'Chicle', cursive;
  text-decoration: none;
  font-size: 60px;
}
.picture {
  background-image: url("img/travis.jpg");
  border: 0px solid #000;
  border-radius: 5px;
  height: 380px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;
}
.picture_slogan{
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-left: 50px;
  font-family: 'Chicle', cursive;
  text-decoration: none;
  font-size: 40px;

}
.copyright{
  background-color: #008DC9;
  border: 0px solid white;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;
}
.copyright_slogan{
  color: white;
  font-size: 20px;
  font-family: 'Chicle', cursive;
  text-decoration: none;
}
.contact_page{
  background-image: url("img/contact.jpg");
  border: 0px solid #000;
  border-radius: 5px;
  height: 380px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;
  opacity: 0.9;
}
.contact{
  color: black;
  font-size: 60px;
  text-align: center;
  padding-top: 150px;
  padding-left: 50px;
 font-family: 'Chicle', cursive;
}
.about-box{
  background-image: url("img/young.jpg");
  border: 0px solid #000;
  border-radius: 5px;
  height: 380px;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;
  opacity: 0.9;
}
.wrapper {
  /*column-count: 2;*/
  column-gap: 50px;
  padding-top: 50px;
}

.info {
  padding-top: 30px;
  padding-right: 20px;
  line-height: 1.7;
  font-family: Helvetica;
  text-align: justify;
  margin: 0;
  font-size: 18px;
}

.about-picture {
  float: left;
  width: 400px;

  /*shape-margin:50px;*/
  margin-right: 10px;
  margin-bottom: 50px;
  border: 0px solid #000;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;
}
