html,body,{
  margin: 0;
  padding:0;
  min-height:100%;
  background-color: #A7A29C
}
 /*.ng-scope, .project_container{
  background:
    linear-gradient(45deg, hsla(352, 96%, 45%, 1) 0%, hsla(352, 96%, 45%, 0) 70%),
    linear-gradient(135deg, hsla(253, 95%, 42%, 1) 10%, hsla(253, 95%, 42%, 0) 80%),
    linear-gradient(225deg, hsla(179, 91%, 45%, 1) 10%, hsla(179, 91%, 45%, 0) 80%),
    linear-gradient(315deg, hsla(119, 96%, 49%, 1) 100%, hsla(119, 96%, 49%, 0) 70%);
    background-repeat: no-repeat;
    background-size: cover;
}*/

.project_scheduler {
  color: #fff;
  background: grey;
  width: auto;
  border: 5px solid lightgray;
  padding: 5px 8px;
  font-size: 10px;
  margin: 1px auto;
  cursor: pointer;
  transition: all ease .5s;
  border-radius: 6px;
  margin-top: 57px;
}

.project_button{
    color: #fff;
    background: grey;
    width: auto;
    border: 5px solid lightgray;
    padding: 5px 8px;
    font-size: 10px;
    margin: 1px auto;
    cursor: pointer;
    transition: all ease .5s;
    border-radius: 6px;
}


.email_header {
  padding-top: 10px;
  padding-left: 70px;
}

.linkedin_header {
  padding-left: 70px;
}

.github_header {
  padding-left: 70px;
}


.email {
  width: 100px;
  height: 100px;
}

.contact {
box-shadow: 10px 10px 5px grey;
}


#logo1 {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 40px;
  width: 200px;
  box-shadow: 10px 10px 5px grey;

}
#logo2 {
  margin-bottom: 40px;
  width: 200px;
  box-shadow: 10px 10px 5px grey;
}

#logo3{
  margin-right: 45px;
  margin-bottom: 40px;
  width: 200px;
  box-shadow: 10px 10px 5px grey;

}

.logo-box{
  padding-top: 150px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  height: 190px;

}

#logo3 .github{
  width: 200px;
  height: 140px;
}

#logo1 .email {
  width: 220px;
  height: 135px;
}

#logo2 .linkedin{
  width: 220px;
  height: 140px;
}

.linkedin {
  margin: 10px;
  width: 95px;
  height: 70px;
}

.github {
  margin: 10px;
  width: 95px;
  height: 70px;
}



.email{
  width: 95px;
  height: 80px;
}

.resume {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  padding-left: 330px;
}

.introduction {
  font-size: 17px;
  padding-top: 100px;
  flex-grow: 30px;
}

.text {
  color: black;
  width: 30em;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: type 5s steps(50, end);
  animation: type 1s steps(50, end);
  }

  @keyframes type{
      from { width: 0; }
  }

  @-webkit-keyframes type{
      from { width: 0; }
  }



.container {
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  justify-content: center;
}

.welcome_container {
  flex-basis: auto;
  margin: auto;

}

.home_button {
  font-size: 7px;
  color: black;
}

.project_container {
  padding-top: 150px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  height: 190px;
}

.project1{

  margin: 0 auto;
}

.project1 .thumbnail{
  width: 300px;
  height: 200px;
}

#proj1{
margin-bottom: 20px;
width: 300px;
box-shadow: 10px 10px 5px grey;


}
#proj2{
margin-bottom: 20px;
box-shadow: 10px 10px 5px grey;
width: 300px;


}
#proj3{
margin-bottom: 40px;
width: 300px;
box-shadow: 10px 10px 5px grey;
}

.img-circle{
box-shadow: 10px 10px 5px black;
background-image: url("img/travis.jpg");
background-repeat: no-repeat;
background-size: cover;
width: 195px;
height: 250px;
border-radius: 30%;
}

.flex-container {
  font-size: 10px;
  width: 100%
  padding 0 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /*justify-content: space-between;*/
  background-image: url("http://www.color-hex.com/palettes/7449.png");
  background-size: cover;

}

button:hover{
  color: #000;
  background: #fff;
  transition: all ease .5s;

}

button {
  color: #fff;
  background: grey;
  width: auto;
  border: 1px solid lightgray;
  padding: 5px 8px;
  font-size: 16px;
  margin: 1px auto;
  cursor: pointer;
  transition: all ease .5s;
  border-radius: 6px;
}


.icon-angular {
  margin: 30px;
  /*color: red;*/
  box-shadow: 10px 10px 5px grey;
}
.icon-ruby-on-rails-alt{
  /*color: red;*/
  margin: 30px;
  box-shadow: 10px 10px 5px grey;
}

.icon-html5 {
  margin: 30px;
  /*color: orange;*/
  box-shadow: 10px 10px 5px grey;
}

.icon-ruby {
  margin: 30px;
  /*color: red;*/
  box-shadow: 10px 10px 5px grey;
}

.icon-css3 {
  margin: 30px;
  /*color: red;*/
  box-shadow: 10px 10px 5px grey;
}

.icon-jquery {
  margin: 30px;
  /*color: darkblue;*/
  box-shadow: 10px 10px 5px grey;
}

.icon-postgres {
  margin: 30px;
  /*color: royalblue;*/
  box-shadow: 10px 10px 5px grey;
}

h2, h4 {
  font-family: 'Jim Nightshade', cursive;
    color: #444;
    text-shadow:
      1px 0px 1px #ccc, 0px 1px 1px #eee,
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;
   font-size: 30px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;
 padding-left: 330px;
 padding-top: 160px;
 font-family: 'Rokkitt', serif;
 text-shadow: rgba(0,0,0,0.1) -1px 0, rgba(0,0,0,0.1) 0 -1px,
   rgba(255,255,255,0.1) 1px 0, rgba(253,255,255,0.1) 0 1px,
   rgba(0,0,0,0.1) -1px -1px, rgba(255,255,255,0.1) 1px 1px;
   color: white;
   background: grey;
 }

.icon {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  /*position:absolute;*/
  bottom:10px;
  width:100%;
  margin-left: -10px
  /*height:20px;*/
  /*position: fixed;*/
  color: darkblue;
}

.index_page{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /*padding-top: 50px;*/
 justify-content: center;
justify-content: space-around;

}
