
* {
  box-sizing: border-box;
}

html, body, .ng-scope{
  margin: 0;
  padding: 0;
  min-height:100%;
  background-color: #F0F0F0;
}

body {
font-size: 1.2em;
line-height: 1.7;
font-family: 'Julius Sans One', sans-serif;
color: black;

}

.project_scheduler {
  color: white;
  background: #111D3E;
  width: auto;
  /*border: 5px solid white;*/
  /*padding: 5px 8px;*/
  font-size: 1rem;
  /*margin: 10px auto;*/
  cursor: pointer;
  transition: all ease .5s;
  /*border-radius: 6px;*/
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 5px;
}

p {
  margin: 6px;
}

.project_button:hover {
  color: white;
  background: #008DC9;
  transition: all ease .5s;
}

.project_scheduler:hover {
  color: white;
  background: #008DC9;
  transition: all ease .5s;
}

.project_button{
  color: #fff;
  background: #111D3E;
  width: auto;
  /*border: 5px solid white;*/
  /*padding: 5px 8px;*/
  font-size: 1rem;
  /*margin: 20px auto;*/
  cursor: pointer;
  transition: all ease .5s;
  /*border-radius: 6px;*/
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 5px;
  /*margin-top: 50px;*/
  /*margin-bottom: 10px;*/
}

.logo-box{
  padding-top: 60px;
  /*margin-top: 20px;*/
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
}

#logo3 .github{
  height: 135px;
}

#logo1 .email {
  height: 135px;
}

#logo2 .linkedin{
  width: 150px;
  height: 135px;
}

.linkedin {
  width:150px;height:150px;
  width: 95px;
  /*height: 70px;*/
}

.github {
width:150px;
height:150px;
}

.email{
  width:150px;
  height:150px;
}

.resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

.resume_styling{
  width: 850px;
  height: 800px;
}

.introduction {
  display: flex;
  flex-wrap: wrap;
  padding-right: 300px;
  font-size: 1.1rem;
  padding-top: 100px;
  flex-grow: 30;
}

.container {
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  justify-content: center;
}

.welcome_container {
  flex-basis: auto;
  margin: auto;
 padding-right: 550px;
}

.project_container {
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
  flex-wrap: wrap;
  min-width: 400px;
  min-height: 200px;
}

.project1{
  margin: 0 auto;

}

.project1 .thumbnail{
  width: 300px;
  height: 200px;

}

#proj1{
margin-bottom: 20px;
width: 300px;
box-shadow: 10px 10px 5px black;
}

.project-discription {
border-style: groove;
border-width: 4px 2px 4px 2px;
border-radius: 10px;
border-color: lightgrey;

}

.project-discription p {
  font-size: 1em;
  text-align: center;
}

#proj2{
margin-bottom: 20px;
box-shadow: 10px 10px 5px black;
width: 300px;


}
#proj3{
margin-bottom: 20px;
width: 300px;
box-shadow: 10px 10px 5px black;
}

.flex-container {

  font-size: 10px;
  width: 100%;
  /*padding: 0 5px;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}



.nav-button {
  color: #fff;
  background: #111D3E;
  width: auto;
  border: 5px solid white;
  padding: 5px 8px;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  transition: all ease .5s;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  position: relative;

}

.icon-angular {
  color: red;
  box-shadow: 5px 5px 5px black;

}

.icon-ruby-on-rails-alt{
  color: red;
  box-shadow: 5px 5px 5px black;

}

.icon-html5 {
  color: orange;
  box-shadow: 5px 5px 5px black;

}

.icon-ruby {
  color: red;
  box-shadow: 5px 5px 5px black;

}

.icon-css3 {
  color: red;
  box-shadow: 5px 5px 5px black;

}

.icon-jquery {
  color: lightblue;
  box-shadow: 5px 5px 5px black;

}

.icon-postgres {
  color: royalblue;

  box-shadow: 5px 5px 5px black;

}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}


.index_page{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
justify-content: space-between;
background-color: #008dc9;
padding-bottom: 10px;
-moz-box-shadow:    10px 10px 5px #888888;
-webkit-box-shadow: 10px 10px 5px #888888;
box-shadow:         10px 10px 5px #888888;

}

a {
  color: white;
  text-decoration: none;
}



h1, h2 {
  font-weight: normal;
  text-align: center;

}

h1 {
  color: black;
  font-family: 'Marcellus SC', serif;
}

h2 {
  color: black;
  font-family: 'Russo One', sans-serif;
}


.logo{
  display: flex;
  justify-content: center;
  background-color: #008dc9;
}

#travis{
  width: 100px;
  height: 100px;
  display: block;
   margin: auto;
   margin-bottom: 30px;
   margin-top: 5px;
}

/*Pseudo Code Selectors */
#proj1:hover{
  transform: scale(1.1);
}

#proj2:hover{
  transform: scale(1.1);
}

#proj3:hover{
  transform: scale(1.1);
}

#travis:hover{
  transform: scale(.8) rotate(200deg);
}

.nav-button:hover{
  color: white;
  background: #008DC9;
  transition: all ease .5s;
}

 .nav-button:active{
  top: 2px;
}


/*Start of pictures being formatted to fit */
.sky_picture{
background-image: url("img/sky.jpg");
border: 0px solid #000;
border-radius: 5px;
height: 380px;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
box-shadow: 0px 0px 5px gray;
margin-bottom: 20px;
transition: all .2s ease;
-moz-box-shadow:    10px 10px 5px #888888;
 -webkit-box-shadow: 10px 10px 5px #888888;
 box-shadow:         10px 10px 5px #888888;
}

.sky_slogan{
  color: white;
  font-family: 'Chicle', cursive;
  text-decoration: none !important;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 140px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 4px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 7px rgba(0,0,0,.3),
               0 3px 8px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 10px rgba(0,0,0,.15);
}

.project_page{
  position: relative;
  background-image: url("img/project.jpg");
  border: 0px solid #000;
  border-radius: 5px;
  height: 380px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;
   opacity: 0.7;
   -moz-box-shadow:    10px 10px 5px #888888;
    -webkit-box-shadow: 10px 10px 5px #888888;
    box-shadow:         10px 10px 5px #888888;
}
.project_slogan{
  color: white;
  text-align: center;
  padding-top: 150px;
  font-family: 'Chicle', cursive;
  text-decoration: none !important;
  font-size: 3.75rem;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.skills_section{
  text-align: center;
  background-image: url("img/skills.jpg");
  background-color: #B0AFAD;
  border: 0px solid #000;
  border-radius: 5px;
  height: 385px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .2s ease;
  -moz-box-shadow:    10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
  box-shadow:         10px 10px 5px #888888;
  margin-top: 25px;
  margin-bottom: 25px;
}

.skills_slogan{
  color: white;
  font-family: 'Chicle', cursive;
  text-decoration: none !important;
  font-size: 35px;
  display: inline-block;
  margin: 100px 0 100px 0;
  padding: 32px 0;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

}

.about-me {
  background-image: url("img/wilderness.jpg");
  border-radius: 10px;
  width: 100%;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center;*/
  transition: all .2s ease;
  -moz-box-shadow:    10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
  box-shadow:      inset   -50px -50px 25px #000;
}

.about-slogan {
  color: white;
  text-align: center;
  padding-top: 150px;
  font-family: 'Chicle', cursive;
  text-decoration: none;
  font-size: 60px;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2);

}

.picture {
  background-image: url("img/picture.jpg");
  border: 0px solid #000;
  border-radius: 5px;
  width: 100%;
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;
  -moz-box-shadow:    10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
  box-shadow:         10px 10px 5px #888888;

}

.picture_slogan{
  color: white;
  text-align: center;
  padding-top: 150px;
  font-family: 'Chicle', cursive;
  text-decoration: none;
  font-size: 2.5rem;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

}

.copyright{
  background-color: #008DC9;
  border: 0px solid white;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;
  text-align: center;
}
.copyright_slogan{
  color: white;
  font-size: 1.2rem;
  font-family: 'Chicle', cursive;
  text-decoration: none;
}

.contact_page{
  position: relative;
  background-image: url("img/contact.jpg");
  border: 0px solid #000;
  border-radius: 5px;
  height: 380px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;
  opacity: 0.9;
  -moz-box-shadow:    10px 10px 5px #888888;
   -webkit-box-shadow: 10px 10px 5px #888888;
   box-shadow:         10px 10px 5px #888888;
}
.contact{
  color: white;
  font-size: 3.75rem;
  text-align: center;
  padding-top: 150px;
 font-family: 'Chicle';
 text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);

}

.wrapper {

}

.info {
  margin-right: 20px;
  line-height: 2.0;
  font-family: Helvetica;
  font-size: 1.1rem;
  text-align: center


}

.about-picture {
  float: left;
  width: 290px;
  height: 370px;
  margin: 20px 30px 20px 35px;
  border: 0px solid #000;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 0px 5px gray;
  transition: all .2s ease;

}


.bottom-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 15px;
}

figure .text {
   font-size: 1.875rem;
   text-align: center;
   color: #008DC9;
}

.design {
  width: 100%;
  max-height: 100px;
}

.row .pictures-test {
  align-items: center;
  margin: 0 5px;
}


/*footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 22px;
  height: 22px;
}

footer .row {
  padding: 0 20px;
}*/
/*.pull-me{
    -webkit-box-shadow: 0 0 8px #008DC9;
    -moz-box-shadow: 0 0 8px #008DC9;
    box-shadow: 0 0 8px #008DC9;
    cursor: pointer;
}
.panel {
	background: #008DC9;
    background-size:90% 90%;
    height:450px;
	display:none;
    font-family:garamond,times-new-roman,serif;
}
.panel p{
    text-align:center;
}
.slide {
	margin:0;
	padding:0;
	border-top:solid 2px #111D3E;
}
.pull-me {
	display:block;
    position:relative;
    right:-25px;
    width:150px;
    height:20px;
	font-family:arial,sans-serif;
    font-size:14px;
	color:#ffffff;
    background:#111D3E;
	text-decoration:none;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    margin-bottom: 100px;
}
.pull-me p {
    text-align:center;
}*/
