@charset "utf-8";
/* CSS Document */
.style5container {
	width:290px !important;
	margin:0 auto !important;
}
.slider {
	width:290px !important;
	height:290px !important;
	margin:0 auto!important;
	padding:0 !important;
}
.slides {
	width:225px !important;
	margin:0 auto !important;
	margin-top:20px !important;
}
/*Arrow Directions*/
.slider_prev_horizontal4 {
	background-image:url(left-arrow-small.png) no-repeat !important;
	width:32px !important;
	height:40px !important;
	top:96px !important;
	left:0px !important;
	z-index: 99999999 !important;
}
.slider_next_horizontal4 {
	background-image:url(right-arrow-small.png) no-repeat !important;
	width:32px !important;
	height:40px !important;
	top:96px !important;
	right:0px !important;
	z-index: 99999999 !important;
}
/*Featured Inventory Price */
.ftitemprice4 {
	color: #fff !important;
	font-family: 'Arsenal', sans-serif !important;
	font-weight: 500 !important;
	font-size:18px !important;
	text-align:center !important;
	width:215px !important;
}
/*Featured Inventory Title */
.ftitemtitle4 {
	color: #fff !important;
	font-family: 'Arsenal', sans-serif !important;
	font-size:18px !important;
	text-align:center !important;
	width:215px !important;
	font-weight: 500 !important;
	line-height:25px !important;
	padding-top:5px !important;
}
.slides .featuredImage {
	width: 215px !important;
	height: 151px !important;
	background-color: White;
	display: block;
	vertical-align: middle;
	overflow: hidden;
	border: 2px solid #fff !important;
}
/*Responsive Media Queries*/
@media only screen and (min-width: 768px) {
	.style5container {
		width:738px !important;
	}
	.slider {
		width:738px !important;
	}
	.slides {
		width:675px !important;
	}
}

@media only screen and (min-width: 1200px) {
	.style5container {
		width:1100px !important;
	}
	.slider {
		width:1100px !important;
	}
	.slides {
		width:900px !important;
	}
}
